

form {
    text-align: center;
    background-color: rgb(42, 152, 152);
    border-radius: 20px;
}

h2 {
    text-align: center;
    background-color: antiquewhite;
   
  
}

.container {

    background-color: rgb(99, 98, 98);
}
